
img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:300px;
  height:300px;
}

#page {
  width: 30px;
  align-items: center;
  margin-left: 49.3%;
}

.insta{
  width:30px;
  height:30px;
}
h1{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color:#002131;
  font-size: 4em;
  text-shadow: 1px 1px 20px hsla(0,100%,100%,0.3);
  
  
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color:yellow;
  font-size: 30px;
}
ul{
  font-family: 'Source Sans Pro', sans-serif;
  color:#002131;
  font-size: 20px;
  margin-left:42%;
}
ol{
  font-family: 'Source Sans Pro', sans-serif;
  color:#002131;
  margin-left:42%;
  font-size: 20px;
  
}
body {
  background: linear-gradient(to bottom, #002131 0%, #19629e 60%);
  margin: 0;
}



